##Assigement_3

##1- Read the dataset from Kaggle.

In [ ]:
import numpy as np
import pandas as pd
#import sklearn
from sklearn import datasets, model_selection, linear_model , metrics,neighbors,tree,ensemble,preprocessing,svm

#Extracting data from CSV file
data_pd=pd.read_csv('/content/housing.csv')

In [ ]:
#dataset information
data_pd.info()
#dataset Describe
data_pd.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

          longitude      latitude  ...  median_income  median_house_value
count  20640.000000  20640.000000  ...   20640.000000        20640.000000
mean    -119.569704     35.631861  ...       3.870671       206855.816909
std        2.003532      2.135952  ...       1.899822       115395.615874
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.800000     33.930000  ...       2.563400       119600.000000
50%     -118.490000     34.260000  ...       3.534800       179700.000000
75%     -118.010000     37.710000  ...       4.743250       264725.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

##2-Drop column (occean_proximity)

In [ ]:
#deleting feature ocean_proximity 
data_pd.drop('ocean_proximity',axis=1,inplace=True)
#replace missing values with mean
data_pd.fillna(data_pd['total_bedrooms'].mean(),inplace=True)
#dataset information
data_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

##3-Do the necessary preprocessing steps

In [ ]:
#setting input (feature)
x=data_pd.iloc[:,2:8]
#setting output
y=y=np.array(data_pd.median_house_value)

#normalizer data x&y
x_normalizer=preprocessing.StandardScaler()
y_normalizer=preprocessing.StandardScaler()
x_norm=x_normalizer.fit_transform(x)
y_norm=y_normalizer.fit_transform(y.reshape(-1,1))

##4-Set random seed to 42 for using NumPy

In [ ]:
#random_state
np.random.seed=42

##5-Split the dataset into a training/testing set, with a split size of 10%. Don't forget to set the random state to 42.

In [ ]:
#90% training and 10% test
x_train,x_test,y_Train,y_test=model_selection.train_test_split(x_norm,y_norm,test_size=0.1,random_state=42)

## Define 3 models/algorithms for this task.
- Train the models.

##model_1
##LinearRegression

In [ ]:
#Create a LinearRegression
model=linear_model.LinearRegression()
##Train the model using the training sets
model.fit(x_train,y_Train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
##Predict the response for test dataset
pred=model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

the mse is : 0.47972387643516823
the r2  is : 0.5210168043709292

##model_2
##DecisionTreeRegressor

In [ ]:
#training model using DecisionTreeRegressor
tree_model=tree.DecisionTreeRegressor()
tree_model.fit(x_train,y_Train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
##Predict the response for test dataset
pred=tree_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

the mse is : 0.7329086952453098
the r2  is : 0.26822289613434813

##model_3
##support vector mechine

In [ ]:
#training model using support vector mechine mothes
svm_model=svm.SVR(kernel='linear',C=1)
svm_model.fit(x_train,y_Train)
#Predict the response for test dataset
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.505647340031342
the r2  is : 0.495133365907663

##Keep tuning the hyper-parameters for the SVM if you using it until you reach a Mean Squared Error less than 0.3 and R2 Score above 0.6 or more.

In [ ]:
#training model using support vector mechine mothes
svm_model=svm.SVR(kernel='rbf',C=0.1)
svm_model.fit(x_train,y_Train)
#Predict the response for test dataset
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.382865672123419
the r2  is : 0.6177254622115295

##-Choose the best model

In [ ]:
#the best model is support vector mechine mothes
#the mse is : 0.382865672123419
#the r2  is : 0.61772546221152953